body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Helvetica','Sans-Serif';
}

.bg {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    color: white;
}

.bg h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}
.bg h3{
    padding-top: 25%;
    font-size: 1.5em;
    text-align: right;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.0em;
    line-height: 1.1em;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.container,
div.small-container {
    margin: 0 auto;
    padding: 0 20px;
}

div.container {
    max-width: 940px;
}

div.container:after {
    content: "";
    display: table;
    clear: both;
}

div.small-container {
    max-width: 700px;
}

.resume-category {
    margin: 20px 0 20px 0;
}
.resume-category h2 {
    border-bottom: medium solid #1960e5;
    color: #1960e5;
}
.resume-content {
    margin: 6px 0 0 40px;
}
.resume-content p,.title {
    padding: 5px 0 0 0;
    margin: 0;
    font-size: medium;
}
.resume-content .title{
    font-weight: bold;
    font-size: large;
}
.photos{
    margin: 40px 0 0 0;
}
.photo{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 30px;
}
.photo p {
    font-size: 1em;
}

.post {
    margin: 30px 0 0 20px;
}

.columns{
    margin: 10px 0 0 0;
    border-bottom: solid #c9d6e8 medium;

}

.columns:after{
    content: "";
    display: table;
    clear: both;
}

.spacing{
    padding: 20px 0 0 0;
}

.column {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}

.third{
    width: 33%;
}

.twoThirds{
    width: 66%;
}

.half{
    width: 50%;
}




