body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Sans-Serif';
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.container{
    margin: 0 auto;
    padding: 0 20px;
}

div.container {
    max-width: 940px;
}

div.container:after {
    content: "";
    display: table;
    clear: both;
}
.resume-category {
    margin: 20px 0 20px 0;
}
.resume-category h2 {
    border-bottom: medium solid #1960e5;
    color: #1960e5;
}
.resume-content {
    margin: 20px 0 0 40px;
}
.resume-content p,.title {
    padding: 0;
    margin: 0;
    font-size: medium;
}
.resume-content .title{
    font-weight: bold;
    font-size: large;
}