header,
footer {
    background: #1960e5;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

header ul,
footer ul{
    list-style: none ;
    float: right;
}

header li,
footer li{
    display: inline-block;
    padding-right: 0;
}
header a,
footer a{
    text-decoration: none;
    color: inherit;
    padding: 0 20px 0 7px;
    font-size: larger;
    font-weight: bold;
}

header a{
    border-left: solid thick;
}


