<p> <b>Použité konštrukcie:</b> </p>
<ul>
    <li> <b>Členenie textu</b>: kapitola, podkapitola </li>
    <li> <b>Členenie textu odrážkami alebo číslovaním</b> - číslovaný aj nečíslovaný zoznam </li>
    <li> <b>Zvýraznenie slov</b> - pri zoznamoch </li>
    <li> <b>Odkazy na iné časti dokumentu</b> - v kapitole 1 odkaz na kapitolu 2 </li>
    <li> <b>Poznámka pod čiarou</b> - pri tabuľkách, odkaz na zdroj tabuľky ktorou som sa inšpiroval </li>
    <li> <b>Zoznam použitej literatúry</b> - na konci dokumentu, viacero citácií </li>
    <li>
        <b>Vloženie obrázku</b> - obrázky sú použité pri rovniciach
        <div class="highlighter-rouge"><pre class="highlight"><code>
            &lt;equation id="user"&gt;
                &lt;title&gt;Vektor reprezentujúci požívateľa&lt;/title&gt;
                &lt;alt&gt;user = {p1, p2. . . pn; pi ∈ (0, 100), i ∈ (1, n)}&lt;/alt&gt;
                &lt;graphic scale="50" align="center" fileref="images/equation1.png"/&gt;
            &lt;/equation&gt;
        </code></pre>
        </div>
    </li>
    <li> <b>Vloženie tabuľky</b> - 2 tabuľky v kapitole 1 </li>
    <li> <b>Vytvorenie registra pojmov</b> - 2 úrovňový index</li>
    <li> <b>Generovaný obsah</b> - zoznam tabuliek a rovníc na začiatku dokumentu a index na konci dokumentu </li>
</ul>