---
layout: page
---
    <div class="columns">
        <div class="column third">
            <img src="{{page.image}}">
        </div>
        <div class="column twoThirds">
            <p><b> Title: </b> {{page.name}} </p>
            <p><b> Author: </b> {{page.author}} </p>
            <p><b> Language: </b> {{page.language}} </p>
            <p><b> Genre: </b> {{page.genre}} </p>
            <p><b> Publisher: </b> {{page.publisher}} </p>
            <p><b> Pages: </b> {{page.pages}} </p>
            <p> {{page.content}} </p>
        </div>
    </div>